.request__invite {
    border-radius: 50px;
    background: linear-gradient(351deg, #31d35c 0%, #2bb7da 100%);
    color: white;
    font-size: 0.7rem;
    padding: 0.7rem;
    border: none;
    width: 155px;
    margin: 0rem;
}

.request__invite a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}