.main__section {
    background-color: #fafafa;
}

.heading__feature--container {
    display: flex;
    background: transparent;
    position: relative;
    z-index: 3;
    width: 100%;
}

.features {
    top: 0;
    left: 0;
    width: 459px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.main__section--headings {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 19rem;
    z-index: 3;
    margin: 3rem auto;
    padding-bottom: 50px;
}

.main__section--headings h2 {
    font-size: 30px;
    overflow-wrap: break-word;
}

.main__section--headings p {
    width: 100%;
}

.main__section--headings button {
    margin-top: 30px;
}

@media (min-width: 1440px) {
    .main__section {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }

    .main__section--headings {
        margin-inline-start: 70px;
    }

    .main__section--headings p {
        margin-inline-start: 30px;
    }

    .main__section--headings button {
        margin-inline-end: 110px;
    }
}