.facebook {
  background-image: url(../../webroot/images/icon-facebook.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: block;
}

.facebook:hover,
.facebook:focus {
  background-image: url(../../webroot/images/icon-green-facebook.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: block;
}

.instagram {
    background-image: url(../../webroot/images/icon-instagram.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  .instagram:hover, .instagram:focus {
    background-image: url(../../webroot/images/incon-green-instagram.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  .twitter {
    background-image: url(../../webroot/images/icon-twitter.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  .twitter:hover, .twitter:focus {
    background-image: url(../../webroot/images/icon-green-twitter.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  .pinterest {
    background-image: url(../../webroot/images/icon-pinterest.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  .pinterest:hover, .pinterest:focus {
    background-image: url(../../webroot/images/icon-green-pinterest.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  .youtube {
    background-image: url(../../webroot/images/icon-youtube.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  .youtube:hover, .youtube:focus {
    background-image: url(../../webroot/images/icon-green-youtube.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: block;
  }