.latest__articles {
    background-color: #fafafa;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.latest__article--heading {
    padding: 30px;
}

.latest__article--description {
    text-align: center;
    padding: 0;
}

.latest__article--description li {
    list-style: none;
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    margin-bottom: 50px;
    text-align: start;
}

.latest__article--description li img {
    border-radius: 10px;
    width: 100%;
}

.description {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 78px;
}

.articles__title {
    color: black;
    font-size: 20px;
}

@media (min-width: 1440px) {
    .latest__article--description {
        display: flex;
        margin-inline-start: 70px;
        margin-inline-end: 50px;
    }

    .latest__article--heading {
        margin-inline-start: -1130px;
    }

    .latest__article--description li {
        margin-inline-end: 30px;
    }

    .latest__article--description li img {
        height: 250px;
        object-fit: cover;
    }

}